body {
	position: relative;
}


.navbar-default {
  border: none;
  font: 300 'Franklin Gothic Medium', sans-serif;
}

.test {
	width: 800px;
}

.popover {
	max-width: 50%;
}

.splash {
	margin-top: 30px;
	margin-bottom: 30px;
}

.todo {
	background-color: #fff9b1;
}

h1, h2, h3, h4 {
	font-family: 'Franklin Gothic Medium', sans-serif;
}

#datetime {
	color: gray;
}

#sidebar-wrapper {
	font: 200 16px 'Franklin Gothic Medium', sans-serif;
}

.test p, .popover {
	font: 200 18px/25px 'Garamond', serif;
}

.aside {
	margin-top: 50px;
}

.aside p {
	font-size: small;
	font: 12px 'PT Sans', sans-serif;
}

.aside button {
	font-family: serif;
	background-color: #fff;
}

/*.aside>button:active {
	background-color: #fff;
}*/

.aside img {
	width: 50px;
}

blockquote {
	font: 600 24px/34px 'Garamond', serif;
}